USRDIR=
BINDIR=$USRDIR/bin
ERRDIR=$USRDIR/err
OUTDIR=$USRDIR/out
UPLOADDIR=$USRDIR/symfony/public/uploads/PGNs
APPDIR=$USRDIR/scripts
LOCK=$APPDIR/.lock
CACHESRV=
DBSRV=
CACHEREMOTEDIR=/mnt/PGNs/incoming/
DBREMOTEDIR=/neo4j/incoming/
